  /*水滴加载效果*/
/* .spinner {
  width: 60px;
  height: 60px;
 
  position: relative;
  margin: 100px auto;
} */
 
/*.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #67CF22;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
   
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}*/
/*旋转加载动画*/
.spinner {
  margin: 250px auto;
  width: 20px;
  height: 20px;
  position: relative;
}
.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #63B8FF;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
} 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
} 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
} 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
} 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* 三球加载 */
/* .spinner {
  margin: 100px auto 0;
  width: 150px;
  text-align: center;
} */
 
/* .spinner > div {
  width: 30px;
  height: 30px;
  background-color: #67CF22;
 
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
 /* -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
 
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
} */
/* 轮播图 */
.swiper-container {
  width: 100%;
  height: 11rem;
}
.swiper-container img{
  width: 100%;
  height: 11rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper-pagination-bullet-active{
  background: #ff575f;
}
/*信息缩略模块*/
.common{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; 
  margin-bottom: 1.875rem; 
}
.common:nth-of-type(3){
  margin-bottom: 0; 
}
.common-img{
  width: 5.375rem;
  height: 5.375rem;
}
.common-content{
  padding-left: 1rem; 
  -webkit-box-flex: 1; 
      -ms-flex: 1; 
          flex: 1; 
}
.con-title{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
  text-align: left;
  color: #4a4a4a;
  margin-top: 0.375rem; 
}
.content{
  padding: 0.375rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.00625rem;
  line-height: 1.125rem;
  text-align: left;
  color: #4a4a4a;
}
.con-name li span{
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.00625rem;
  text-align: left;
  color: #4a4a4a;
}
ul{
  list-style-type: disc;
  color:#ff575f;
  padding-left: 1.25rem; 
  margin-top: 0.25rem;
}
/*导航标签*/
body{
  background-color: #f5f5f5;
}
/*无图片页面导航模块*/
.tab{
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  background-color: #ffffff;
}
.tab .container:hover,.drop-down .container:hover{
  /* background-color: rgba(0,0,0,0.1); */
  animation: fade 0.5s;
}
.container{
  padding: 0.875rem 1.25rem;
  border-bottom: 0.0625rem solid #d8d8d8;
  background: #ffffff;
}
.general{
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.tab-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
}
.arrow{
  width: 1.5rem;
  height: 1.5rem;
}
.banner-text{
  border-radius: 0.25rem;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #F25157;
  padding: 0.25rem 0.375rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
/*下拉显示内容模块*/
.drop-down{
  background-color: #fff; 
}
.drop-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  color: #4a4a4a; 
}
.active{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);              
}
@keyframes fade{
  from {background-color: rgba(0,0,0,0.1);}
  to {background-color: rgba(255,255,255,1);}
}
.down{
  color: #4d4d4d;
  padding: 0.5rem 1.25rem;
  background-color:rgba(0,0,0,0.1);
  font-size: 0.75rem; 
  line-height: 1rem;
  letter-spacing: 0.0625rem;
}
/*过渡效果*/
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
/*点击查看详情模块*/
.tab-bar .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #4a4a4a;
}
.tab-bar .tab-img{
  width: 2.5rem;
  height: 2.5rem;
}
.tab-text{
  position: relative;
  right: 6rem;
}
/*按钮模块*/
.btn-wrap{
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.17);
}
.btn{
  /*按钮左右居中*/
  margin: 0.25rem auto;
  width: 90%;
  height: 2.5rem;
  border-radius: 0.1875rem;
  background-image: linear-gradient(to right, #f91e2f, #ff575f);
  box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(251, 42, 56, 0.21);
  /*字体设置*/
  line-height: 2.5rem;
  font-family: PingFang-SC;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.0125rem;
  text-align: center;
  color: #ffffff;
  /*按钮上下居中*/
  position: relative;
  top: 0.25rem;
}
/*提示模块*/
.tip-wrap{
  position: fixed;
  top: 45%;
  left: 18.4%;
  z-index: 500;
  width: 14.8125rem;
  height: 5rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade 3s  ease-in-out 1 normal;
  animation-fill-mode: forwards;
  /* animation: name duration timing-function delay iteration-count direction; */
}
.tip{
  padding:0 0.5rem;
  line-height: 5rem;
  text-align: center;
  color: #ffffff;
}
@keyframes fade{
  0%  {background-color: rgba(0,0,0,0);}
  50% {background-color: rgba(0,0,0,0.4);}
  100% {background-color: rgba(0,0,0,0);opcity:0;}
}

